env
LATE/planets/l9859b
LATE/planets/l9859c
*~
LATE/data/l9859b
LATE/data/l9859c
*__pycache__/
*#
coords.csv
old
LATE/wl_preprocess/config.py
LATE/wl_preprocess/data_outputs
LATE/bin_analysis/config.py
LATE/bin_analysis/outputs
LATE/data_reduction/config.py
LATE/data_reduction/reduced
.DS_Store